$color-primary-light: #004e92;
$color-primary-dark: #003d71;

$color-primary: #0077dd;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-backdrop: #000000b3;

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
$line: 1px solid $color-grey-light-2;
$line-accent: 1px solid $color-primary;

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; 
$bp-medium: 56.25em; // 900px
$bp-small: 43.75em;  // 700px
$bp-xsmall: 31.25em; // 500px

@keyframes pushLeft {
  0% {
    margin-right: 10px;
  }
  50% {
    margin-right: 15px;
  }
  100% {
    margin-right: 10px;
  }
}

@keyframes modalFade {
  from {
    transform: translateY(50%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
  background-size: cover;
  background-repeat: no-repeat;
  
  min-height: 100vh;
}