.search {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: $color-grey-light-2;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 80%;
    transition: all .2s;
    margin-right: -3.25rem;


    &:focus {
      outline: none;
      width: 85%;
      background-color: $color-grey-light-3;
    }

    &::-webkit-input-placeholder {
      font-weight: 300;
      color: $color-grey-dark-2;
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-primary;
  }
}

.pagination {
  display: flex;
  justify-content: stretch;
  align-items: center;
  font-size: 1.5rem;
  & > button {
    border: none;
    color: $color-primary;
    font-family: inherit;
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    background-color: transparent;
    padding: 1.5rem;
    margin: 1rem;
    cursor: pointer;
    transition: all .2s;
    flex: 1;

    &:hover {
      color: $color-grey-dark-1;
      box-shadow: $shadow-light;
    }
    &:focus {
      outline: none;
    }
  }

  &__left {
    span {
      margin-right: 5px;
      transition: margin-right .2s;
    }

    &:hover {
      span {
        margin-right: 10px;
      }
    }
  }

  &__right {
    span {
      margin-left: 5px;
      transition: margin-left .2s;
    }
    &:hover {
      span {
        margin-left: 10px;
      }
    }
  }
}